nav h1 a {
    display: inline;
}

#inicio {
    margin-top: 5%;
}

nav h1 {
    margin-right: 5%;
    padding: 0.60%;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 5%;


}

nav a {
    margin-left: 4%;
    border: 1px solid rgb(213, 213, 213);
    padding: 0.5%;
    border-radius: 5%;
}

nav {
    border: 1px solid rgb(213, 213, 213);
    height: 13%;
    padding: 1%;
    background-color: #edf3f7;


}


a {
    text-decoration: none;


}

#bt {
    color: rgb(85, 90, 92);
    background-color: #d3e7f5b0;
    border: 1px solid #d1deeaeb;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}


.seccion {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(213, 213, 213);
    padding: 1%;
    background-color: #dde5eb8a;

}


h2 {
    text-decoration: underline;

}

#postulantes {
    width: 45%;
    float: left;
    margin: auto;
    text-align: justify;
    border: 1px solid rgb(213, 213, 213);
    padding: 1%;
    margin-top: 5%;
    background-color: #e6f0f7b0;
}

#inversores_o_donantes {
    width: 45%;
    float: right;
    margin: auto;
    text-align: justify;
    border: 1px solid rgb(213, 213, 213);
    padding: 1%;
    margin-top: 5%;
    background-color: #e6f0f7b0;
}

body {


    background-image: url(imagenes/fondocelestito.jpg);
    background-size: cover;
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

p {
    font-size: 20px;
}

.pie_pagina {
    margin-top: 60%;
    text-align: center;
    border: 1px solid rgb(213, 213, 213);
    height: 10%;
    padding: 1%;
    background-color: #e6f0f7b0;
}

#inicio {
    border: none;
    margin-top: 100px;
}

#logobarra {
    height: 50px;
    width: 150px;
    margin-left: 10px;
}

#uno {
    margin-top: 1000px;
    background-color: #e6f0f7b0;
}

#instagram {
    width: 50px;
    height: 50px;
}